.footer{
    background:#0f172a;
    color:white;
    padding:50px 10%;
    text-align:center;
}

.footer h2{
    color:#60a5fa;
    margin-bottom:10px;
}

.footer p{
    color:#cbd5e1;
}

.footer-icons{
    margin:25px 0;
}

.footer-icons a{
    color:white;
    font-size:30px;
    margin:0 15px;
    transition:.3s;
}

.footer-icons a:hover{
    color:#60a5fa;
}

.top-btn{
    display:inline-block;
    margin:20px 0;
    background:#2563EB;
    color:white;
    padding:12px 15px;
    border-radius:50%;
    transition:.3s;
}

.top-btn:hover{
    background:#1d4ed8;
}

.copyright{
    margin-top:20px;
    font-size:14px;
}